<div id="<%= dom_id my_contact_card %>">
  <p>
    <strong>Avatar:</strong>
    <%= my_contact_card.avatar %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= my_contact_card.title %>
  </p>

  <p>
    <strong>Qrcode:</strong>
    <%= my_contact_card.QRcode %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= my_contact_card.code %>
  </p>

</div>
