<div id="<%= dom_id ai_product %>">
  <p>
    <strong>Uuid:</strong>
    <%= ai_product.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ai_product.name %>
  </p>

  <p>
    <strong>Des:</strong>
    <%= ai_product.des %>
  </p>

  <p>
    <strong>Intro:</strong>
    <%= ai_product.intro %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= ai_product.cover %>
  </p>

  <p>
    <strong>Uri:</strong>
    <%= ai_product.uri %>
  </p>

  <p>
    <strong>Uri:</strong>
    <%= ai_product.uri %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= ai_product.company %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= ai_product.country %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= ai_product.weight %>
  </p>

  <p>
    <strong>Ai product sort:</strong>
    <%= ai_product.ai_product_sort %>
  </p>

</div>
