<%= content_for :title, '集趣聊|弈果雅物严选|人工智能|AIGC|人工智能导航|人工智能分享社区|AI软件|AI创作工具|chatgpt入口|人工智能|AI技术平台|AI写作工具|AI绘画网站 --xcoze'%>
<%= content_for :keywords, "AIGC、AIGC工具、AI软件、chatgpt、文心一言、人工智能、AI技术、人工智能技术、AI导航、Ai工具网站、Ai工具、Ai工具箱、AI网站、AI写作工具、AI智能工具、AI图片工具、AI语音生成器、AI视频工具、AI营销" %>
<%= content_for :description, "XCOZE是一个集国内外优秀的AI人工智能技术导航网站，为用户收集AI软件,chatgpt,文心一言,人工智能,AI技术,AI创作工具,人工智能技术,AI导航,Ai工具网站,Ai工具,Ai工具箱,AI网站,AI写作工具,AI智能工具,AI图片工具,AI语音生成器,AI视频工具,AI营销等优秀的AI功能网站,同时也环境大家在这里进行优化的交流，show出你的midjourney，stable diffusion等AI作品，交流魔法咒语与创作心得。" %>
<p style="color: green"><%= notice %></p>



<main>

  <section class="pt-5 pb-0 position-relative" style="background-image: url(<%= asset_path("bg/07.jpg") %>); background-repeat: no-repeat; background-size: cover; background-position: top center;">
    <div class="bg-overlay bg-dark opacity-8"></div>
    <!-- Container START -->
    <div class="container">
      <div class="pt-5">
        <div class="row position-relative">
          <div class="col-xl-8 col-lg-10 mx-auto pt-sm-5 text-center">
            <!-- Title -->
            <h1 class="text-white">Find AI for you</h1>
            <p class="text-white">让人工智能成为你的好帮手.</p>
            <div class="mx-auto  rounded p-4 mt-5">
              <h5 class="mb-3 text-start"> </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section START -->
  <section class=" py-5">
    <div class="container card card-body col-md-10 ">
      <% @ai_product_sorts.each do |sort|%>
        <div class="container pt-5">

          <div class="row">
            <div class="col-12 mb-3">
              <div class="d-sm-flex justify-content-between">
                <!-- Sort Name -->
                <h4><%= sort.name %> </h4>
                <!--          <a class="btn btn-link" href="">更新订阅</a>-->
              </div>
            </div>
          </div>
          <div class="row g-4">
            <% sort.ai_products.each do |p| %>
              <div class="col-sm-6 col-lg-3">
                <!-- Production item START -->
                <div class="card h-100">
                  <div class="position-relative">
                    <a href="<%= ai_product_url(p) %>">
                      <img class="img-fluid rounded-top" src="<%= "https://xcoze-1304952191.cos.ap-guangzhou.myqcloud.com/#{p.cover}?imageMogr2/thumbnail/!680x400r/crop/680x480/gravity/center/format/webp/interlace/1/quality/100"%>" alt="">
                    </a>

                  </div>
                  <!-- Intro body START -->
                  <div class="card-body position-relative pt-0">

                    <a href="<%= ai_product_url(p) %>" class="a_not_style">
                      <h5 class="mt-3">  <%= p.name %>  </h5>
                      <!-- Company info -->
                      <p class="mb-0 small"> <i class="bi bi-arrow-return-right pe-1"></i> <%= p.company %> </p>
                      <p class="small"> <i class="bi bi-geo-alt pe-1"></i> <%= p.country %> </p>
<!--                      <p><small><b>标签： </b></small>-->
                        <%# if p.ai_product_tags  %>
                          <%# p.ai_product_tags.order("weight DESC").limit(2).each do |tag|%>
<!--                            <small><%#= tag.name %></small>-->
                          <%# end %>
                        <%# end %>

<!--                      </p>-->
                    </a>
                    <div class="d-flex mt-3 justify-content-between">
                      <!-- Detail button -->
                      <div class="w-100">
                        <a href="<%= ai_product_url(p) %>">
                          <label class="btn btn-sm btn-outline-success d-block" >
                            <i class="fa-sharp fa-solid fa-bars"></i> 查看详情
                          </label>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- Intro body END -->
                </div>
                <!-- Production item END -->
              </div>
            <%end %>
          </div>
        </div>
      <%end %>
    </div>
  </section>
  <!-- Section END -->



</main>